# **Data Science Tools and Ecosystem**

#### This notebook contains some of the tools used in Data Science. Serve this notebook as a proof of the skills acquired from the module "Tools for data science".

#### **Objectives:**
* Make use of the abilities acquired from this module regarding Jupyter Notebooks.
* List popular languages used in Data Science.
* List popular libraries used in Data Science. 
* Create code to solve basic arithmetic expressions.

#### Some of the popular languages in Data Science are listed below:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C++

#### The following libraries are among the most popular in Data Science:

1. Pandas
2. NumPy
3. Matplotlib
4. Keras
5. Vegas
6. Tensorflow
7. Scikit-learn

#### The table below shows some of the development environment open source tools for data science: 
|Data Science Tools|
|------------------|
| Jupyter Notebooks |
| Apache Zeppelin |
| RStudio |

### In the following cells, we can find some examples of arithmetic expressions evaluated in Python.

In [4]:
# In this expression, two integers are multiplied and to the result another integer is added
(3*4)+5

17

In [5]:
#In this cell, 200 minutes will be converted to hours
200/60

3.3333333333333335

## Author
Luis Fernando Villaseñor Villagómez