Exercise 2. Creating a title

# **Data Science Tools and Ecosystem**

# **Data Science Tools and Ecosystem**

Exercise 3. Introductory sentence

#### This notebook contains some of the tools used in Data Science. Serve this notebook as a proof of the skills acquired from the module "Tools for data science".

#### This notebook contains some of the tools used in Data Science. Serve this notebook as a proof of the skills acquired from the module "Tools for data science".

Exercise 10. Objectives

#### **Objectives:**
* Make use of the abilities acquired from this module regarding Jupyter Notebooks.
* List popular languages used in Data Science.
* List popular libraries used in Data Science. 
* Create code to solve basic arithmetic expressions.

#### **Objectives:**
* Make use of the abilities acquired from this module regarding Jupyter Notebooks.
* List popular languages used in Data Science.
* List popular libraries used in Data Science. 
* Create code to solve basic arithmetic expressions.

Exercise 4. List of Data Science Languages

#### Some of the popular languages in Data Science are listed below:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C++

#### Some of the popular languages in Data Science are listed below:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C++

Exercise 5. Data Science Libraries

#### The following libraries are among the most popular in Data Science:

1. Pandas
2. NumPy
3. Matplotlib
4. Keras
5. Vegas
6. Tensorflow
7. Scikit-learn

#### The following libraries are among the most popular in Data Science:

1. Pandas
2. NumPy
3. Matplotlib
4. Keras
5. Vegas
6. Tensorflow
7. Scikit-learn

Exercise 6. Table of Data Science Tools

#### The table below shows some of the development environment open source tools for data science: 
|Data Science Tools|
|------------------|
| Jupyter Notebooks |
| Apache Zeppelin |
| RStudio |

#### The table below shows some of the development environment open source tools for data science: 
|Data Science Tools|
|------------------|
| Jupyter Notebooks |
| Apache Zeppelin |
| RStudio |

Exercise 7. Introducing arithmetic expressions

### In the following cells, we can find some examples of arithmetic expressions evaluated in Python.

### In the following cells, we can find some examples of arithmetic expressions evaluated in Python.

Exercise 8. Multiplying and adding numbers

In [4]:
# In this expression, two integers are multiplied and to the result another integer is added
(3*4)+5

17

Exercise 9. Converting minutes to hours

In [5]:
#In this cell, 200 minutes will be converted to hours
200/60

3.3333333333333335

Exercise 11. Author details

## Author
Luis Fernando Villase침or Villag칩mez

## Author
Luis Fernando Villase침or Villag칩mez